<!DOCTYPE html>
<html>
<head>
    <title>Teacher's Dashboard</title>
</head>
<body>

<h2>Teacher's Dashboard</h2>
<p>Welcome {{ user.username }}</p>

<a href="{% url 'teacher:profile' %}">Profile</a><br>
<a href="{% url 'teacher:settings' %}">Settings</a><br>
<a href="{% url 'teacher:courses' %}">Courses</a><br>
<a href="{% url 'teacher:students' %}">Students</a><br>
<a href="{% url 'teacher:allclasses' %}">All Classes</a><br><br>
<a href="{% url 'teacher:create_class' %}">+ Create New Class</a>

</body>
</html>